In [100]:
import pandas as pd
import numpy as np
df = pd.read_csv("Smartphones_dataset.csv")

In [101]:
# Check first 5 rows
df.head()
# Basic info
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     879 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            960 non-null    object
 8   num_cores                  974 non-null    float64
 9   processor_speed            938 non-null    float64
 10  battery_capacity           969 non-null    float64
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              769 non-null    float64
 13  ram_capacity               980 non-null    int64
 14  internal_memory            980 non-null    int64
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  num_rear_cameras           980 non-null    int64
 18  num_front_cameras          976 non-null    float64
 19  os                         966 non-null    object
 20  primary_camera_rear        980 non-null    float64
 21  primary_camera_front       975 non-null    float64
 22  extended_memory_available  980 non-null    int64
 23  extended_upto              500 non-null    float64
 24  resolution_width           980 non-null    int64
 25  resolution_height          980 non-null    int64
dtypes: bool(3), float64(10), int64(9), object(4)
memory usage: 179.1+ KB

,price,rating,num_cores,processor_speed,battery_capacity,fast_charging_available,fast_charging,ram_capacity,internal_memory,screen_size,refresh_rate,num_rear_cameras,num_front_cameras,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
count,980.000000,879.000000,974.000000,938.000000,969.000000,980.000000,769.000000,980.000000,980.000000,980.000000,980.000000,980.000000,976.000000,980.000000,975.000000,980.000000,500.000000,980.000000,980.000000
mean,32520.504082,78.258248,7.772074,2.427217,4817.748194,0.854082,46.126138,6.560204,141.036735,6.536765,92.256122,2.814286,1.029713,50.319286,16.589128,0.630612,736.064000,1075.852041,2214.663265
std,39531.812669,7.402854,0.836845,0.464090,1009.540054,0.353205,34.277870,2.744378,107.134516,0.349162,28.988052,0.776441,0.169882,33.000968,10.876802,0.482885,366.894911,290.164931,516.484254
min,3499.000000,60.000000,4.000000,1.200000,1821.000000,0.000000,10.000000,1.000000,8.000000,3.540000,60.000000,1.000000,1.000000,2.000000,0.300000,0.000000,32.000000,480.000000,480.000000
25%,12999.000000,74.000000,8.000000,2.050000,4500.000000,1.000000,18.000000,4.000000,64.000000,6.500000,60.000000,2.000000,1.000000,24.000000,8.000000,0.000000,512.000000,1080.000000,1612.000000
50%,19994.500000,80.000000,8.000000,2.300000,5000.000000,1.000000,33.000000,6.000000,128.000000,6.580000,90.000000,3.000000,1.000000,50.000000,16.000000,1.000000,1024.000000,1080.000000,2400.000000
75%,35491.500000,84.000000,8.000000,2.840000,5000.000000,1.000000,66.000000,8.000000,128.000000,6.670000,120.000000,3.000000,1.000000,64.000000,16.000000,1.000000,1024.000000,1080.000000,2408.000000
max,650000.000000,89.000000,8.000000,3.220000,22000.000000,1.000000,240.000000,18.000000,1024.000000,8.030000,240.000000,4.000000,2.000000,200.000000,60.000000,1.000000,2048.000000,2460.000000,3840.000000

In [102]:
int(df['price'].mean())

32520

In [103]:
df.groupby('brand_name')['price'].max()

brand_name
apple        182999
asus         107990
blackview      8990
blu           14990
cat           14999
cola          14999
doogee        45999
duoqin         9990
gionee         7499
google        81999
honor         94990
huawei       239999
ikall          8099
infinix       36999
iqoo          64999
itel           6990
jio           11990
lava          17990
leeco         10999
leitz        124990
lenovo        59999
letv           6999
lg            79990
lyf            3990
micromax       7790
motorola      59999
nokia         49990
nothing       39990
nubia         60999
oneplus       74999
oppo         134999
oukitel       29990
poco          42999
realme        49959
redmi         19999
royole       149999
samsung      163980
sharp         59990
sony         134999
tcl            8990
tecno         49999
tesla         69999
vertu        650000
vivo         119990
xiaomi       480000
zte           61990
Name: price, dtype: int64

In [104]:
df.isnull().sum()

brand_name                     0
model                          0
price                          0
rating                       101
has_5g                         0
has_nfc                        0
has_ir_blaster                 0
processor_brand               20
num_cores                      6
processor_speed               42
battery_capacity              11
fast_charging_available        0
fast_charging                211
ram_capacity                   0
internal_memory                0
screen_size                    0
refresh_rate                   0
num_rear_cameras               0
num_front_cameras              4
os                            14
primary_camera_rear            0
primary_camera_front           5
extended_memory_available      0
extended_upto                480
resolution_width               0
resolution_height              0
dtype: int64

In [107]:
df.loc[df['rating'].isnull(), ['model','rating','fast_charging','extended_upto']]

                           model  rating  fast_charging  extended_upto
14   Samsung Galaxy S23 Ultra 5G     NaN           45.0            NaN
29                OnePlus 11 Pro     NaN          100.0            NaN
37   Samsung Galaxy S22 Ultra 5G     NaN           45.0            NaN
49         Samsung Galaxy A74 5G     NaN           33.0         1024.0
69              Oppo Find N Fold     NaN           67.0            NaN
..                           ...     ...            ...            ...
954                Huawei Mate X     NaN           55.0            NaN
957                    Vivo Y55S     NaN            NaN            NaN
963                      Lava X3     NaN            NaN          512.0
972                    itel A23s     NaN            NaN            NaN
974                Vivo X Fold 2     NaN           66.0            NaN

[101 rows x 4 columns]

In [108]:
df.loc[df['fast_charging_available'] == False, ['fast_charging','model']]

     fast_charging                              model
33             NaN                    Apple iPhone 11
47             NaN                         Realme C33
70             NaN                          OPPO A17K
75             NaN                     Gionee G13 Pro
79             NaN  Xiaomi Redmi 10A (4GB RAM + 64GB)
..             ...                                ...
958            NaN                           Poco C55
963            NaN                            Lava X3
965            NaN                          iKall Z18
966            NaN                        Oukitel WP9
972            NaN                          itel A23s

[143 rows x 2 columns]

In [109]:
# Fill missing values in 'processor_brand' column with the string 'Unknown'
df['processor_brand'] = df['processor_brand'].fillna('Unknown')

# Fill missing values in 'battery_capacity' column with the string 'Unknown'
df['battery_capacity'] = df['battery_capacity'].fillna('Unknown')

# Fill missing values in 'rating' column with the median of the existing ratings
df['rating'] = df['rating'].fillna(df['rating'].median())

# Fill missing values in 'num_cores' column with the most frequent (mode) value
df['num_cores'] = df['num_cores'].fillna(df['num_cores'].mode()[0])

# Retrieve the most frequent (mode) value from the 'os' column (not assigned here)
df['os'].mode()[0]

# Fill missing values in 'num_front_cameras' column with the most frequent (mode) value
df['num_front_cameras'] = df['num_front_cameras'].fillna(df['num_front_cameras'].mode()[0])

In [110]:
# Step 1: Fill using brand-wise median
df['processor_speed'] = df['processor_speed'].fillna(df.groupby('brand_name')['processor_speed'].transform('median'))
# Step 2: Fill remaining Nulls with overall median
df['processor_speed'] = df['processor_speed'].fillna(df['processor_speed'].median())

In [111]:
# Step 1: Create brand-wise median Series
brand_medians = df.groupby('brand_name')['fast_charging'].transform('median')

# Step 2: Apply conditional filling
df['fast_charging'] = df.apply(
    lambda row: 
    0 if row['fast_charging_available'] == False and pd.isna(row['fast_charging'])
    else row['fast_charging'] if not pd.isna(row['fast_charging'])
    else brand_medians[row.name],
    axis=1
)

# Step 3: Fill remaining NaNs with overall median or a default
df['fast_charging'] = df['fast_charging'].fillna(df['fast_charging'].median())

In [112]:
# Assign 'android' to missing 'os' values where brand is not 'huawei';
# otherwise retain existing value
df['os'] = df.apply(
    lambda row: 'android' if pd.isnull(row['os']) and row['brand_name'] != 'huawei'
    else row['os'],
    axis=1
)

# For the specific model 'Huawei Mate Xs 2', fill missing 'os' value with 'other'
df.loc[(df['os'].isnull()) & (df['model'] == 'Huawei Mate Xs 2'), 'os'] = 'other'

# For the specific model 'Huawei Mate X', fill missing 'os' value with 'android'
df.loc[(df['os'].isnull()) & (df['model'] == 'Huawei Mate X'), 'os'] = 'android'

In [113]:
# Load reference dataset containing front camera details **
camera_ref = pd.read_csv('camera_reference.csv')

# Rename 'phone_name' column to 'model' to match the main dataset for merging
camera_ref.rename(columns={'phone_name': 'model'}, inplace=True)

# Merge reference data into main dataframe on 'model'; add suffix '_ref' to overlapping columns from reference
merged_df = df.merge(camera_ref, on='model', how='left', suffixes=('', '_ref'))

# Fill missing values in 'primary_camera_front' using values from the reference column
merged_df['primary_camera_front'] = merged_df['primary_camera_front'].fillna(
    merged_df['primary_camera_front_ref']
)

# Drop the reference column after imputation is complete
merged_df.drop(columns=['primary_camera_front_ref'], inplace=True)

# Update the original dataframe with the enriched 'primary_camera_front' values
df['primary_camera_front'] = merged_df['primary_camera_front']

# Delete the temporary merged dataframe to free up memory
del merged_df

In [114]:
# Fill missing 'extended_upto' values with 0 where 'extended_memory_available' is explicitly 0
df.loc[
    (df['extended_upto'].isnull()) & (df['extended_memory_available'] == 0),
    'extended_upto'
] = 0

# Extract rows where 'extended_upto' is still missing but 'extended_memory_available' is True
# These will be manually researched and filled externally
extended_upto = df.loc[
    (df['extended_upto'].isnull()) & (df['extended_memory_available']),
    ['model', 'extended_upto']
]

# Export these rows for manual enrichment
extended_upto.to_csv('extended_upto.csv', index=False)

# Load enriched data after manual research
filled_df = pd.read_csv('extended_upto_filled.csv')

# Merge enriched values back into the main dataframe using 'model' as key
df = df.merge(filled_df, on='model', how='left', suffixes=('', '_filled'))

# Fill remaining missing 'extended_upto' values using enriched data
df['extended_upto'] = df['extended_upto'].fillna(df['extended_upto_filled'])

# Drop the temporary column used for enrichment
df.drop(columns=['extended_upto_filled'], inplace=True)

In [115]:
df.isnull().sum()

brand_name                   0
model                        0
price                        0
rating                       0
has_5g                       0
has_nfc                      0
has_ir_blaster               0
processor_brand              0
num_cores                    0
processor_speed              0
battery_capacity             0
fast_charging_available      0
fast_charging                0
ram_capacity                 0
internal_memory              0
screen_size                  0
refresh_rate                 0
num_rear_cameras             0
num_front_cameras            0
os                           0
primary_camera_rear          0
primary_camera_front         0
extended_memory_available    0
extended_upto                0
resolution_width             0
resolution_height            0
dtype: int64

In [116]:
df.loc[df['rating'].isnull(), ['model','rating','fast_charging','extended_upto']]

Empty DataFrame
Columns: [model, rating, fast_charging, extended_upto]
Index: []

In [52]:
df.to_csv('smartphones_dataset_cleaned.csv',index=False)